.single-comic{margin-top:50px;display:grid;grid-template-columns:293px 550px auto;grid-column-gap:50px;-webkit-column-gap:50px;column-gap:50px;align-items:start}.single-comic__char-img{width:293px;height:293px}.single-comic__name{font-weight:700;font-size:22px;line-height:29px}.single-comic__descr{font-size:18px;line-height:24px;margin-top:25px}
/*# sourceMappingURL=7.5b8e5761.chunk.css.map */